<form class="details-form" id="edit" method="POST" action="@routes.Application.addNewFormClicked()">
    <div>
        <label for="name">Nazwa</label>
        <input type="text" id="name" name="title">
    </div>
    <div>
        <label for="date">Data</label>
        <input id="date" type="text" name="date">
    </div>
    <div>
        <label for="description">Opis</label>
        <textarea id="description" name="content"></textarea>
    </div>
    <div>
        <button class="details-form-submit">Zapisz</button>
        <a href="@routes.Application.index()">Anuluj</a>
    </div>
</form>