@(notes: List[Note])

<ul>
    @for(note <- notes) {
        <li>
            <h2>@note.title</h2>
            <strong>@DateFormatter.formatDate(note.date)</strong>
            <div>
                @note.content
            </div>

        </li>
    }
</ul>

